@import "../../App.css";

.header-upper{
    background: var(--lighter1);
}

.header-top-strip a{
     color: var(--primary1);
}

.input-group{
    font-size: 14px;
    background: transparent;
    margin-left: -40px;
}

.input-group-text{
    font-size: 14px;
    background: transparent;
    color: var(--search);
}

.form-control{
    /* margin-right: 5px; */
    width: 250px;
}

.nav-links a{
    font-size:16px;
    text-transform:Uppercase; 
    /* color: var(--primary1); */
}

.icon-list{
    font-size: 16px;
    
}

.nav-link-list{
    font-size: 16px;
    color:var(--search);
}

.active{
    color: var(--primary);
    font-weight: 600;
    text-decoration: underline;
}

.inactive{
    color: var(--primary1);
    
}