.footer{
    background-color: var(--lighter2);
}

.footer-details a{ 
    color: var(--primary1);
}

.fs-4 ,.fs-5{
    color: var(--search);
}

.text-dark{
   font-weight: bold;
}

.pay img:hover{
    transition: 0.5s ease;
    transform: translateY(-8px);
}
